img {
  height: 300px;
}

.box {
  border: 2px solid black;
  height: 400px;
  width: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}

.center {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.col-tenth {
  width: 10%;
}

.col-four-fifths {
  width: 80%;
}

.circle {
  border-radius: 50%;
  border: 2px solid black;
  height: 0.6rem;
  width: 0.6rem;
  margin: 4px;
}

.flex {
  display: flex;
  align-items: flex-end;
}

.height-5 {
  height: 5rem;
}

.black {
  background-color: black;
}

/* .circle:not(:last-child) {
  margin: 4px;
} */
